body{height: 100vh;padding-bottom: 100px;}

.container #loader{position: fixed;width: 100%;height: 100%;top: 0;left: 0;background: white;z-index: 9999;}
.container #loader .loader-content{position: absolute;width: 100%;top: 50%;z-index: 1;margin-top: -40px;}
.container #content-people a{margin-right: 10px;}
.container #content-people .btn-floating {width: 30px;height: 30px;line-height: 30px;}
.container #content-people .btn-floating i{font-size: 1.3rem;line-height: 30px;}

footer.page-footer{width: 100%;position: absolute;bottom: 0;padding-top: 0;}